@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  /* chrome based */
  width: 10px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

html {
  cursor: url(../img/cursor/normal.png) 11 11, auto;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

body {
  font-family: 'Roboto Mono', monospace;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body a {
  cursor: url("../img/cursor/select.png") 11 11, pointer;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.fon-container {
  margin: 30px 50px 30px 50px;
  display: none;
  width: 1900px;
}

.s1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, lime), color-stop(50%, lime));
  background-image: -o-linear-gradient(lime 50%, lime 50%);
  background-image: linear-gradient(lime 50%, lime 50%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 2px;
  padding-bottom: 3px;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.s1:hover {
  background-size: 100% 2px, 100% 2px;
  color: lime;
}

.logo {
  height: 47px;
  font-family: 'Libre Barcode 128 Text', cursive;
  color: lime;
  font-size: 60px;
  text-transform: uppercase;
}

main {
  height: 617px;
}

footer {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  color: lime;
  font-size: 14px;
  font-weight: 300;
  line-height: 1px;
  margin-right: 5px;
}

.logo-footer {
  color: lime;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  position: relative;
}

.logo-footer::after {
  content: '';
  width: 1px;
  height: 14px;
  background-color: lime;
  top: 2px;
  left: 55px;
  position: absolute;
}

.content-footer {
  color: lime;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00ff00;
  font-size: 30px;
}

canvas {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  /* Firefox 3.6+ */
  /* Safari 3.1+ и Chrome 4.0+ */
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
}

.container {
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 195px 0 0 0;
}

.text {
  font-weight: 100;
  font-size: 28px;
  color: #23ff23;
  text-align: center;
}

.title {
  color: lime;
  font-weight: bold;
  font-size: 30px;
}

.second-title {
  padding-top: 100px;
}

.dud {
  color: #027002;
}

.menu-header {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-navigation {
  width: 400px;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -ms-flex-negative: 0.8;
      flex-shrink: 0.8;
  color: lime;
  font-size: 22px;
  border-style: double;
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.department1 {
  border-right: solid 1px lime;
  padding: 0 30px 0 20px;
}

.department2 {
  border-right: solid 1px lime;
  padding: 0 45px 0 20px;
}

.department3 {
  padding: 0 30px 0 15px;
}

.clock {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: lime;
  font-size: 48px;
  letter-spacing: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  color: lime;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
}

.social__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid lime;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.social__item {
  cursor: url("../img/cursor/select.png") 10 10, pointer;
}

.instagram:hover {
  border-color: lime;
  -webkit-box-shadow: 0 0 20px lime;
          box-shadow: 0 0 20px lime;
  color: lime;
}

.facebook:hover {
  border-color: lime;
  -webkit-box-shadow: 0 0 20px lime;
          box-shadow: 0 0 20px lime;
  color: lime;
}

.vk:hover {
  border-color: lime;
  -webkit-box-shadow: 0 0 20px lime;
          box-shadow: 0 0 20px lime;
  color: lime;
}

.container-burger {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 0;
  background: none;
  border: none;
  width: 30px;
  height: 25px;
  position: relative;
  cursor: url("../img/cursor/select.png") 10 10, pointer;
}

.menu-icon,
.menu-icon:before,
.menu-icon:after {
  border-top: 3px solid lime;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu-icon:before,
.menu-icon:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
}

.menu-icon:before {
  top: 7px;
}

.menu-icon:after {
  top: 17px;
}

.menu-icon.opened {
  border-top-color: transparent;
}

.menu-icon.opened:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  top: 12px;
}

.menu-icon.opened:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  top: 12px;
}

/*styles for menu container*/

.menu-container {
  width: 90px;
  z-index: 0;
  height: 0;
}

.menu-container ul {
  list-style: none;
  padding: 30px 0 0 0;
  margin: 0;
}

.menu-container li {
  margin-bottom: 5px;
}

.menu-container a {
  display: block;
  padding: 10px 0;
  color: lime;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif, arial;
}

.menu-container.closed {
  display: none;
}

.menu-container.opened {
  display: none;
}

@media (max-width: 679px) {
  .logo {
    margin-right: 20px;
  }

  .content-footer {
    display: none;
  }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 548px) {
  .container {
    padding: 100px 0 0 0;
  }

  .fon-container {
    margin: 10px 10px 10px 10px;
  }

  .clock {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 120px 0 0 0;
    text-align: center;
    font-size: 52px;
  }

  .text {
    font-size: 18px;
  }

  .menu-icon,
  .menu-container.opened {
    display: block;
  }

  .container-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container-navigation {
    display: none;
  }
}

@media (max-width: 440px) {
  main {
    height: 400px;
  }

  .container {
    padding: 5px 0 0 0;
  }
}

@media (max-width: 320px) {
  .fon-container {
    margin: 10px 10px 10px 10px;
  }
}

@media (max-height: 870px) {
  canvas {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}